@font-face {
	font-family: 'Gotham Pro BlackItalic';
	src: url('https://github.com/Mikosh2010/fonts/raw/refs/heads/main/GothamPro-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic
}

@font-face {
	font-family: 'Gotham Pro LightItalic';
	src: url('https://github.com/Mikosh2010/fonts/raw/refs/heads/main/GothamPro-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic
}

@font-face {
	font-family: SFRounded;
	src: url("https://github.com/Mikosh2010/fonts/raw/refs/heads/main/SFRounded-Medium.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap
}

@font-face {
	font-family: "SF Pro Display";
	src: url("https://github.com/Mikosh2010/fonts/raw/refs/heads/main/SFProDisplay-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal
}

@font-face {
	font-family: "SF Pro Display";
	src: url("https://github.com/Mikosh2010/fonts/raw/refs/heads/main/SFProDisplay-Semibold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal
}

@font-face {
	font-family: "SF Pro Display";
	src: url("https://github.com/Mikosh2010/fonts/raw/refs/heads/main/SFProDisplay-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal
}